main.main-container
  section.controls
    .controls__grid__size
      label(for='size')
        | size: 
        span.controls__grid__size--value 16 * 16
      input#size(type='range' name='size' value='16' min='4' max='64')
    .controls__color
      label(for='color') Pick your color
      input#color(type='color' value='#333333' name='color')
    button.controls__random__colors--btn Random colors  
    button.controls__eraser--btn Eraser
    button.controls__clear--btn Clear
  section.sketch__container
    .sketch__container--grids
      
    

  




