footer.footer
		p.footer__title Developed by Osama Mohamed
			a.footer__title--link(href='https://github.com/osamamammar/etch-a-sketch' target='_blank')
				img.footer__title--icon(src='./images/github-logo.png' alt='github icon')
