head
	meta(charset='utf-8')
	// TODO add a title here
	title etch a sketch
	meta(name='description', content='etch a sketch')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='theme-color' content="#fff")
	// TODO add a favicon
	link(rel='shortcut icon', href='./images/etch-a-sketch.png')
	link(rel='stylesheet', href='styles/main.css')
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
	link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet")